@page
@model QuizApp.Pages.Error._403Model
@{
    ViewData["Title"] = "Access Denied";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>

<h1>Access Denied</h1>
<p>You are not authorized to access this page.</p>
<form method="post">
    <button class="btn btn-primary" type="submit"> Go back! </button>
</form>